*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100px;
    background-color: blue;
    position: sticky;
    top: 0px;
    left: 0;
}
.container{
    padding: 30px;
    width: 90%;
    border: 2px solid blue;
    height: auto;
}
.topContainer{
    /* padding-top: 100px; */
}
.box{
   border: 2px dashed red;
   width: 100%;
   height: 600px;
   text-align: start;
   text-decoration: underline gainsboro;
   font-size: 40px;
   font-weight: bolder;
}